.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: rgba(191, 106, 34, 0.53);
}

h1 {
  margin: 0px;
}

.simple-flex-row {
  align-items: center;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.simple-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 130px;
  justify-content: space-evenly;
}

.index-wrap {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.right-corner {
  flex-basis: 10%;
}

.home-background {
  height: calc(100vh - 30px);
  background: url(https://media.timeout.com/images/105247218/630/472/image.jpg) no-repeat;
  background-size: cover;
}

.home {
  height: inherit;
  background-color: rgba(50,50,50,0.5);
  line-height: 12em;
  font-size: 2em;
  color: white;
}

.pet-card {
  flex-basis: 27%;
  margin: 10px;
  border: 1px solid brown;
  padding: 5px;
}

.card-img {
  max-height: 150px;
  max-width: 150px;
}

.pet-page {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.page-img {
  max-height: 500px;
  max-width: 500px;
}

.page-info {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.highlight {
  color: red;
}