<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>


<% @students.each do |student| %>
  <p> <%= link_to student.name, student_path(student.id) %></p>
  <p> <%= link_to student.name, student_path(student) %></p>

  <p> <%= link_to student.name, student %></p>
<% end %>

