<h1>Create a Pokemon</h1>


<form action="/pokemons" method="POST">
  <input type="text" name="name" placeholder="Enter Name">
  <input type="text" name="ability" placeholder="Enter ability">
  <input type="text" name="img_url" placeholder="Enter image url">

  <input type="submit">
</form>