<h1>"SHOW" PAGE</h1>

<div class="show-page">
  <h3><%= @pokemon.name %></h3>
  <p><%= @pokemon.ability %></p>

  <marquee direction="right" scrollamount="15"> 
    <img class="show-img" src="<%= @pokemon.img_url %>" alt="pokemon">
  </marquee>
</div>